/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/public/img/favicon-32x32.*
/public/img/logo.*
/public/img/logo_icon.*
/public/img/logo_landscape.*
/src/public/img/favicon-32x32.*
/src/public/img/logo.*
/src/public/img/logo_icon.*
/src/public/img/logo_landscape.*
